services:
    postgis: 
        container_name: transit-db
        image: transit-postgis
        build:
            context: .
            dockerfile: ./db/Dockerfile
        env_file:
            - .env
        ports: 
            - "4321:5432"
        volumes: 
            - ./db/postgis:/var/lib/postgresql
            - ./db/sql:/docker-entrypoint-initdb.d:ro
            - ./db/gjson:/data:ro
    api:
        container_name: transit-api
        image: transit-go-api
        build:
            context: .
            dockerfile: Dockerfile
        env_file:
            - .env
        restart: unless-stopped
        volumes: 
            - ./data/persist.json:/app/data/persist.json
            - ./data/cycle_osm.geojson:/app/data/cycle_osm.geojson
    
    proxy:
        container_name: transit-proxy
        image: transit-nginx-proxy
        build: 
            context: .
            dockerfile: ./nginx/Dockerfile
        ports: 
            - "3333:80"
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
            - ./www/index.html:/var/www/index.html:ro
            - ./www/css:/var/www/css:ro
