* {
    font-family: sans-serif;
    --bg-color: rgba(17, 68, 115, 0.3);
    --bdr-rad: .5rem;
    --hdr-fsize: 30px;
    --cmp-bdr: 4px solid black;
    --cmp-pdg: 0.8rem;
    --map-vh: 95vh;
    --map-inner-right: 1px;
    --map-inner-bottom: 20px;
    --panel-above-actbar: calc(var(--map-inner-bottom) + 50px);
    --panel-beside-actbar: calc(var(--map-inner-right) + 50px);
    --legend-right: 27px;
    --legend-bottom: 40px;
    --set-calcite-color: rgba(191, 191, 191, 0.758);
    --set-calcite-border-color: rgba(5, 5, 5, 0.758);
    --set-calcite-hover-color: rgba(191, 191, 191, 0.4);
}

:root {
    --calcite-color-background: var(--set-calcite-color);
    --calcite-color-foreground-1: var(--set-calcite-color);
    --calcite-color-foreground-1: var(--set-calcite-color);
    --calcite-color-foreground-1: var(--set-calcite-color);
    --calcite-color-border-1: var(--set-calcite-border-color);
    --calcite-color-transparent-inverse-hover: var(--set-calcite-hover-color);
    --calcite-color-transparent-hover: var(--set-calcite-hover-color);
    --calcite-corner-radius-sharp: 0.4rem;
    --calcite-border-width-lg: 6px;
    --calcite-border-width-md: 3px;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
}

.hdr {
    text-align: center;
    font-size: var(--hdr-fsize);
    padding: 0;
    margin: 0.2rem 0;
}

.ftr {
    display: flex;
    justify-content: space-between;
    padding: var(--cmp-pdg);
}

.map-div {
    border: var(--cmp-bdr);
    border-radius: var(--bdr-rad);
    margin: 0 auto;
    height: var(--map-vh);
    max-height: calc(var(--map-vh) - var(--hdr-fsize));
    overflow: hidden;
    position: relative;
}

.actbar1 {
    position: absolute;
    bottom: var(--map-inner-bottom);
    right: var(--map-inner-right);
}

.actbar2 {
    position: absolute;
    bottom: var(--panel-above-actbar);
    right: var(--map-inner-right);
}

calcite-panel {
    position: absolute;
    right: var(--panel-beside-actbar);
    bottom: var(--panel-above-actbar);
    max-height: 48%;
    height: fit-content;
    width: fit-content;
}